# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.is4-presentation.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\hofma\HTL\2021\2021-pos-root\is4-presentation\.idea\.idea.is4-presentation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
